In [2]:
#1. In the below elements which of them are values or an expression? eg:- values can be
#integer or string and expressions will be mathematical operators.
#*
#hello
#-87.8
#-
#/
#+
#6

In [3]:
#answer 1.
"hello", -87.8, 6 are considered to be values. 
whereas *(astric), -, / , + are mathematical operators.

In [4]:
#2. What is the difference between string and variable?
#ans:- 
string vs variable:
1.Strings are arrays of bytes representing unicode characters, whereas variable is name which is given to memory location.
2.A single character is simply a string with length of 1. Vraible can be single character or string which is used to assign
  value to it.
    for eg, abc = "hello everyone"
    abc is a variable name and its value is "hello everyone" which is a string 
3.Strings can be written under single quote, double quote or triple quote as well. But variable is just a name and cannot
  be written under any quotes.    
4.Strings are not case-sesitive. On the other, Varibles are case sensitive.
As shown in following example:-

In [8]:
#for example
abc ="hello"
ABC ="Hello Everyone"

In [9]:
abc

'hello'

In [10]:
ABC

'Hello Everyone'

In [ ]:
5.Strings can be integer also. But variable cannot be integer as value cannot be assign to literal.

In [11]:
124= "hello"

SyntaxError: can't assign to literal (<ipython-input-11-6036759ad52f>, line 1)

In [ ]:
7.Vriables can strore any data type. But any data type written in quotes will considered to be string
  myval = 78.9
    myval = "78.9"

In [ ]:
#3.Describe three different data types.
ans:-
Standard data types of python are:- 
1.Numeric -1. integer
           2. float
           3. complex
        
2.Sequence Type -1.list 
                 2.tupple
                 3.string
        
3.Boolean
4.Set
5.Dictionary

1.Numeric- It represents numeric values.Numeric values can be integer,float and complex number which can be defined as int,
float and complex.
Integers – This value is represented by int class. It contains positive or negative whole numbers (without fraction 
           or decimal). In Python there is no limit to how long an integer value can be.

Float – This value is represented by float class. It is a real number with floating point representation. It is 
        specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer
        may be appended to specify scientific notation.
        
Complex Numbers – Complex number is represented by complex class. It is specified as (real part) + (imaginary
                  part)j. For example – 2+3j.
for example:

In [13]:
a,b,c = 5, 5.0, 2 + 4j
print("Type of a: ", type(a))
print("\nType of b: ", type(b))
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [ ]:
2.Set:-
    In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.
    The order of elements in a set is undefined though it may consist of various elements.
    Set elements are placed under curly braces {}.

In [14]:
s1 = {2,3,4,5,6,7,5,4,6,7}

In [15]:
s1

{2, 3, 4, 5, 6, 7}

In [ ]:
As shown above, set includes only unique values.
Sets can be created by using the built-in set() function.

In [16]:
s2 = set(["a1","a2","a3"])
print(s2)

{'a1', 'a2', 'a3'}

In [ ]:
3. Dictionary:-
     1.It stored data with key:pair.Each value is paired with unique key.
     2.Values in dictionary can be duplicate and of any data type.But key name cannot be duplicate.
     3.key value in dictionary make it more optimized.
     4.It is also be in curly braces.
     5.keys and values are separated by colons.

In [17]:
d1 ={"name":"srishti","course":"data science","duration":"9months"}
type(d1)

dict

In [ ]:
#What is an expression made up of? What do all expressions do?

In [ ]:
#ans:-
1.An expression is made up of variables,operators and method invocation.
2.These are combined to produce other value. An expressionsdoes the operation according to the the operator prececedence order.
3.Simply, expression includes operator and operands both together.
In laymens words, expression is a kind of task to do as per the the order of operators.

In [18]:
a = 3+4+5.6-2.3*1           #3+4+5.6-2.3*1 are arithmatic expression
print(a)

10.3

In [ ]:
4.Expresions can be of many types.
    -logical expression - These are kinds of expressions that result in either True or False. It basically specifies one or
                        more conditions.
        
    -constant expression - These are the expressions that have constant values only.
    
    -arithmatic expression - An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis.
                             The result of this type of expression is also a numeric value. The operators used in these
                             expressions are arithmetic operators like addition, subtraction, etc.
    
    -relational epression - are written on both sides of relational operator (> , < , >= , <=). Those arithmetic expressions
                            are evaluated first, and then compared as per relational operator and produce a boolean output
                            in the end.
            
    -floating expression - which produce floating point numbers as result after all computations and type conversions.

In [23]:
a,b = 20, 30 
if (a>b) or (b>a):    #logical expression
    print("hello")
    
c = 2.6 
d= 2
e = c/d            #floating expression
print(e)

tot = (a+b) >= (a*b) #relational expression
print(tot)

hello
1.3
False

In [ ]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
ans:- Statement can be anything written in python.in above mentioned statement means, spam is variable and 10 is value 
      assigned to it. 
        - Expression contains both operators and operands which perform task and reduced to some value out of it. On other
           side,Statement is an instruction which python interpreter executes. if, while are statements.
             - statement can be of several lines whereas expression can be arithmatic,logical,floating,relational or boolean.

In [31]:
#for eg:
if (10>4): # if is a statement
    a = 10+4   # expression which reduced to some particlur value
    print(a)
else:
    a = 10-a
    print(a)

14

In [32]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [ ]:
Ans:- bacon contain 23
    22+1 = 23

In [33]:
#7. What should the values of the following two terms be?
#'spam' + 'spamspam'
#'spam' *3

In [34]:
Ans:-
this concatenate both the strings

"spam" + "spamspam"

'spamspamspam'

In [35]:
this will also concatenate the string by three times.
"spam" *3

'spamspamspam'

In [36]:
#8. Why is eggs a valid variable name while 100 is invalid?

In [38]:
Ans:- Because variable cannot be integer as value cannot be assign to literal.

In [39]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [43]:
#Ans:=
a = 20
str(a)

'20'

In [44]:
float(a)

20.0

In [45]:
int(a)

20

In [46]:
#10. Why does this expression cause an error? How can you fix it?
#'I have eaten' + 99 + 'burritos'

In [49]:
#Ans:-
"I have eaten" + " 99" + " burritos"

'I have eaten 99 burritos'